# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
venv_test/
*.so
.env
.pytest_cache/
.coverage
htmlcov/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Project specific
db_data/
coverage.xml
requirements-test.txt
run_unit_tests.sh
tests/
